<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='static/index.css'>
    <title>Scanner</title>
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <div class="window fdc">
                
                <form action="" method="post" class="main-form fdc" id="main-form">
                    <div class="scan-form flex">
                        <div class="description">Сканнер</div>
                            <select class="input select" form="main-form">
                                {% for scanner, x in scanners.items() %}
                                    <option name="scan" id="scan">{{ scanner }}</option>
                                {% endfor %} 
                            </select>

                    </div>

                    <div class="scan-form">
                        <label class="description" for="name">Имя файла</label>
                        <input class="input" type="text" name="name" id="name" required>
                    </div>

                    <div class="scan-form flex">
                        <div class="description">Разрешение(DPI)</div>
                            <select class="input select" form="main-form">
                                {% for dpi in dpis %}
                                    <option>{{ dpi }}</option>
                                {% endfor %}
                            </select>
                    </div>

                    <div class="scan-form flex">
                        <div class="description">Формат файла</div>
                        <select class="input select" form="main-form">
                            {% for extension in extensions %}
                                <option> {{ extension }} </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="scan-form submit">
                      <input class="input btn" type="submit" value="Сканировать">
                    </div>
                </form>  
            </div>
        </div>

    </div>  
  </body>
</html>